.Main-codeChallengeList-wrapper {
    padding: 0;
    margin: 0;
}

.buttonLine {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.add-new-code-challenge-button {
    float: left;
}

.start-practice-button {
    float: right;
}

.code-challenges-container {
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.code-challenge {
    display: flex;
}

.question {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    font-size: 20px;
    margin: 0;
}

.solution {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    font-size: 20px;
    margin: 0;
}
