.challengeContainer {
  align-items: center;
  margin-left: 400px;
  margin-right: 400px;
}

h1 {
  display: flex;
  font-size: 28px;
  font-weight: bold;
  align-items: center;
  flex-direction: column;
}

.code-mirror-wrapper .CodeMirror {
  font-size: 20px;
  height: 400px;
}

.help-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: normal;
  text-align: center;
}

.hint-button {
  margin-top: 30px;
  margin-bottom: 30px;
}

.solution-button {
  margin-top: 30px;
  margin-bottom: 30px;
}

.better-solution-button {
  margin-top: 30px;
  margin-bottom: 600px;
}

.run-button {
  margin-top: 30px;
  margin-bottom: 30px;
}
