.challengeContainer {
  align-items: center;
  margin-left: 400px;
  margin-right: 400px;
}

h1 {
  display: flex;
  font-size: 28px;
  font-weight: bold;
  align-items: center;
  flex-direction: column;
}

.code-mirror-wrapper .CodeMirror {
  font-size: 20px;
  height: 400px;
}
