.center {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 24px;
}

.container {
    max-width: 500px;
    padding: 35px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.container label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.container input[type="text"],
.container input[type="password"],
.container input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

.container input[type="text"]:focus,
.container input[type="password"]:focus,
.container input[type="email"]:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.errorMessage {
    color: red;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

.hide {
    display: none;
}

.instructions {
    margin-top: 5px;
    font-size: 12px;
    color: gray;
}

.link a{
    display: inline-block;
    color: #7189FF;
}

#signup {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #7189FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}