body {
  margin: 0;
  padding: 0;
    font-family: "PingFang TC", sans-serif;
}

.Main-navbar-wrapper {
  background-color: #c1cefe;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.Main-navbar-wrapper a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  float: right;
}

.Main-navbar-wrapper a:hover {
  background-color: #afbce9;
  color: black;
  float: right;
  border-radius: 4px;
}

.Main-navbar-wrapper a.active {
  background-color: #758ecd;
  color: black;
  float: left;
  border-radius: 4px;
  padding: 14px 20px;
}

.active a:hover {
  background-color: #afbce9;
  color: black;
  float: left;
}
